@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

/* 모바일 */

@media screen and (min-width: 810px){
  #wrap{
    font-family: 'Do Hyeon', sans-serif;
    max-width: 500px;
    margin: 30px auto;
  }
  #main{
    text-align:center;
  }

  #number{
    text-align: end;
  }

  #test{
    text-align: center;
    display:none;
  }

  #result_img{
    margin: auto 0;
    width:40%;
  }

  #result{
    text-align : center;
    display : none;
  }

  #explain2{
    color: #585858;
  }

  #mymbti{
    color : #FFBF00;
  }

  #job{
    color : #1C1C1C;
  }

  #job_ex{
    color: #088A85;
  }

  #made{
    color : #A4A4A4;
    text-align: center;
    font-size: small;
    margin-top: 30px;
  }

  #테두리{
    padding: 10px ;
    border-style : double;
    border-color : #F7BE81;
    border-width: 5px;
  }
}

@media screen and (max-width: 809px){
  #wrap{
    font-family: 'Do Hyeon', sans-serif;
    max-width: 500px;
    margin: 30px auto;
  }
  #main{
    text-align:center;
  }

  #number{
    text-align: end;
  }

  #test{
    text-align: center;
    display:none;
  }

  #result_img{
    margin: auto 0;
    width:40%;
  }

  #result{
    text-align : center;
    display : none;
  }

  #explain2{
    color: #585858;
  }

  #mymbti{
    color : #FFBF00;
  }

  #job{
    color : #1C1C1C;
  }

  #job_ex{
    color: #088A85;
  }

  #made{
    color : #A4A4A4;
    text-align: center;
    font-size: small;
    margin-top: 30px;
  }

  #테두리{
    padding: 10px ;
    border-style : double;
    border-color : #F7BE81;
    border-width: 5px;
  }
}
